[submodule "deps/googletets"]
	path = deps/googletets
	url = https://github.com/google/googletest.git
[submodule "deps/usk-graphics"]
	path = deps/usk-graphics
	url = https://github.com/104-Berlin/usk-graphics.git
[submodule "deps/chai"]
	path = deps/chai
	url = https://github.com/ChaiScript/ChaiScript.git
