[submodule "deps/googletets"]
	path = deps/googletets
	url = https://github.com/google/googletest.git
[submodule "deps/usk-graphics"]
	path = deps/usk-graphics
	url = https://github.com/104-Berlin/usk-graphics.git
[submodule "deps/chai"]
	path = deps/chai
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "deps/rtmidi"]
	path = deps/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/diligent-core"]
	path = deps/diligent-core
	url = https://github.com/DiligentGraphics/DiligentCore.git
